# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# VS Code
.vscode/

# JetBrains
.idea/

# Editor temporary files
*~
\#*\#

# OS Specific
.DS_Store
Thumbs.db
